<main>
  <div class="sub-title">
    <h3>料金を調べる</h3>
  </div>
  <div class="caption">
    <div class="search-box">
      <p>3辺の長さ</p>
      <input type="text">
    </div>
    <div class="search-box">
      <p>重さ</p>
      <input type="text">
    </div>
    <div class="search-box">
      <p>発地</p>
      <select name="" id=""></select>
    </div>
    <div class="search-box">
      <p>着地</p>
      <select name="" id=""></select>
    </div>
    <div class="form">
      <form action=""></form>
    </div>
  </div>
</main>
  
