  <nav class="navbar  navbar-expand-md navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#home" class="nav-link">メルカリ</a>
      </li>
      <li class="nav-item">
        <a href="#coures" class="nav-link">ラクマ</a>
      </li>
      <li class="nav-item">
        <a href="#features" class="nav-link">宅配便</a>
      </li>
    </ul>
  </div>
  <div class="header-logo">
    <a href="#" class="navbar-brand">Letter</a>
  </div>
</nav>
